@use '../../../variable.scss' as var;

button {
  padding-block: 1rem;
  padding-inline: 1.2rem;

  border: 2px solid var.$secondary-color;
  background-color: transparent;
  border-radius: 1rem;
  width: 100%;

  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: bold;
  color: var.$primary-text-color;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;

  i {
    font-size: 2.4rem;
  }

  &:hover {
    background-color: var.$secondary-color;
  }
}
