@use '../../variable.scss' as var;

main {
  width: 100%;
  height: 100%;
  color: var.$primary-text-color;
  .timeRecord-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.2rem;
    .title{
      h1 {
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 4rem;
        letter-spacing: .03rem;
      }
      h2{
        font-size: 2rem;
        font-weight: normal;
        line-height: 2.6rem;
      }
    }
    .timeRecord-btn{
      display: flex;
      align-items: center;
      gap: 2.4rem;
    }
  }

  .timeRecord-body{
    height: 15rem;
    border-radius: 2rem;
    border: 2px solid var.$secondary-color;
    display: flex;
    align-items: center;
    margin-bottom: 3.2rem;
    .timeRecord-info {
      height: 11rem;
      width: 50rem;
      padding: 2.4rem 3.2rem;
      color: var.$primary-text-color;
      letter-spacing: .03rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h4 {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 2.8rem;
        margin-bottom: .4rem;
      }
      p{
        font-size: 4.5rem;
        font-weight: bold;
      }
    }
    .timeRecord-border{
      border-left: 2px solid var.$secondary-color;
      border-right: 2px solid var.$secondary-color;
    }
  }


  .cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 2.4rem;
  }
}
