@use '../../variable.scss' as var;

.card {
  padding: 2.4rem;
  width: 47.1rem;
  border: 2px solid var.$secondary-color;
  border-radius: 2rem;
  overflow: hidden;
}

.card-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .avatar {
    color: var.$tertiary-color;
    font-weight: 700;
    font-size: 4.5rem;
    text-transform: uppercase;
    border-radius: 1.5rem;
    width: 9.4rem;
    height: 9.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info {
    flex: 1;
    margin-left: 1.2rem;
    color: var.$primary-text-color;
    h3 {
      font-weight: 700;
      line-height: 3.2rem;
      font-size: 2.8rem;
    }
    p {
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 2rem;
      letter-spacing: 0.03rem;
      margin-block: .8rem;
    }
    span {
      padding: .5rem 1rem;
      background-color: var.$primary-color;
      border-radius: .5rem;
      font-size: 1.4rem;
      line-height: 2rem;
      letter-spacing: 0.03rem;
      color: var.$tertiary-color;
    }
  }
}

.card-footer{
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-top: 2.4rem;
  app-primary-button{
    width: 19.5rem;
  }
}
