.container{
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  grid-template-columns: 30rem 1fr;
  grid-template-rows: 8rem 1fr;
  height: 100vh;
}

app-header {
  grid-area: header;
}

app-sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: main;
  padding: 2.4rem;
  display: flex;
  justify-content: center;
}
