@use '../../variable.scss' as var;

main {
  width: 100%;
  height: 100%;
  color: var.$primary-text-color;

  .user-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.2rem;
    .title {
      h1 {
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 4rem;
        letter-spacing: 0.03rem;
      }
      h2 {
        font-size: 2rem;
        font-weight: normal;
        line-height: 2.6rem;
      }
    }
    .header-btns {
      display: flex;
      align-items: center;
      gap: 2.4rem;
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 2.4rem;
  }

  .user-body {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    margin-bottom: 2.4rem;

    .body-info {
      padding: 3.2rem;
      border: 1px solid var.$primary-color;
      border-radius: 2rem;
      width: 49.8rem;
      color: var.$primary-text-color;
      .info-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 2.2rem;
        line-height: 2.8rem;
        font-weight: 700;
        i{
           font-size: 3.2rem;
        }
      }
      p {
        font-size: 4.5rem;
        font-weight: 700;
      }
    }
  }
}
