<div class="card">
  <div class="card-header">
    <div class="avatar" [style]="{ background: avatarGradient }">
      {{ shift.name[0] }}{{ shift.name.split(' ')[1][0] }}
    </div>
    <div class="info">
      <h3>{{ shift.name }}</h3>
    </div>

    <!-- Dropdown -->
    <app-dropdown-menu
      [menuOptions]="['Editar', 'Excluir', 'Detalhes']"
      (itemSelected)="onMenuAction($event)"
    >
      ></app-dropdown-menu
    >
  </div>

  <div class="card-status">
    @if(shift.isActive){
    <span class="status Ativo">Ativo</span>
    }@else {
    <span class="status Inativo">Inativo</span>
    }
  </div>

  <div class="card-body">
    <div class="start-time">
      <div class="icon">
        <i class="ph ph-clock"></i>
        <p>Entrada:</p>
      </div>
      <p>{{ shift.startTime }}</p>
    </div>
    <div class="departure-time">
      <div class="icon">
        <i class="ph ph-clock"></i>
        <p>Saida:</p>
      </div>
      <p>{{ shift.endTime }}</p>
    </div>
    <div class="lunch-time">
      <div class="icon">
        <i class="ph ph-coffee"></i>
        <p>Intervalo:</p>
      </div>
      <p>{{ shift.lunchStartTime }} - {{ shift.lunchEndTime }}</p>
    </div>
  </div>
</div>
