main {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  .hero {
    flex: 0.8;
    padding: 4rem;
    height: 100%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 4rem;
    }
  }
  .form-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .wrapper {
      width: 53.8rem;
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      H1 {
        font-size: 4.5rem;
        font-weight: 500;
        line-height: 4rem;
        letter-spacing: 0.1rem;
        margin-bottom: 1.6rem;
      }
      H2 {
        font-size: 2.8rem;
        font-weight: 300;
        line-height: 2.8rem;
        letter-spacing: 0.2rem;
      }
      form {
        .input-group {
          display: flex;
          flex-direction: column;
          gap: 0.8rem;
          align-items: flex-start;

          label {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 2rem;
            letter-spacing: 0.2rem;
          }
          input {
            padding-block: 1rem;
            padding-inline: 1.2rem;
            background-color: #ffffff;
            border: 1px solid #c2c6ce;
            border-radius: 1rem;
            width: 100%;
            margin-bottom: 1.6rem;
            outline: none;
          }
        }
        a {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 2rem;
          letter-spacing: 0.15rem;
          text-decoration: none;
          color: #c2c6ce;
        }
      }
    }
    .logo{
      position: absolute;
      bottom: 4rem;
      right: 4rem;
    }
  }
}

