@use '../../variable.scss' as var;

main{
  width: 100%;
  height: 100%;
  color: var.$primary-text-color;
  .employer-header{
    min-width: 150rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.2rem;
    .title{
      h1 {
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 4rem;
        letter-spacing: .03rem;
      }
      h2{
        font-size: 2rem;
        font-weight: normal;
        line-height: 2.6rem;
      }
    }
    .header-btns{
      display: flex;
      align-items: center;
      gap: 2.4rem;
    }
  }
  .cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 2.4rem;
  }
}
