$primary-color: #0FAA97;
$secondary-color: #e0f2ef;
$tertiary-color: #FFFFFF;
$primary-text-color: #525A6A;
$secondary-text-color: #000000;
$border-color: #E0E2E7;
$status-vocation: #0032FA;
$status-vocation-20: rgb(15, 46, 170, 20%);
$status-inactive: rgb(217, 217, 217);
$status-inactive-20: rgb(217, 217, 217, 20%);
$danger: #FF4C4C;
$status-alert-bg: #FFD966;
