@use '../../../variable.scss' as v;

.overlay {
  padding: 2.4rem;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn .3s ease;
  z-index: 99999;
}

.modal {
  background: v.$tertiary-color;
  padding: 2.2rem 3rem;
  border-radius: 1.4rem;
  text-align: center;
  width: 32rem;
  animation: slideUp .33s ease;
  box-shadow: 0 8px 25px rgba(0,0,0,0.25);
}

.icon-area {
  margin-bottom: 1.8rem;
}

/* spinner */
.spinner {
  width: 5rem;
  height: 5rem;
  border: 4px solid v.$border-color;
  border-top-color: v.$primary-color;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

/* check de sucesso */
.check {
  font-size: 5rem;
  color: v.$primary-color;
  animation: pop .3s ease;
}

/* texto */
.message {
  font-size: 2rem;
  margin-top: 1rem;
  color: v.$primary-text-color;
}

/* animações */
@keyframes spin {
  to { transform: rotate(360deg); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(15px); opacity: 0; }
  to   { transform: translateY(0); opacity: 1; }
}

@keyframes pop {
  from { transform: scale(0.4); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}
