@use '../../../variable.scss' as var;

button{
  padding-block: 1rem;
  padding-inline: 1.2rem;

  background-color: var.$primary-color;
  border: none;
  border-radius: 1rem;
  width: 100%;

  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: bold;
  color:  var.$tertiary-color;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;

  i{
    font-size: 2.4rem;
  }

  &:hover{
    background-color: #0E9C8A;
  }
}
