@if(visible){
<div class="overlay">
  <div class="modal">
    <header>
      <h2>Filtro de Funcionários</h2>
      <button class="close" (click)="close.emit()">
        <i class="ph ph-x"></i>
      </button>
    </header>

    <div class="content" [formGroup]="employerForm">
      <label>
        Funcionário:
        <select formControlName="employerId">
          @for (emp of employees; track emp.id) {
          <option [value]="emp.id">
            {{ emp.name }}
          </option>
          }
        </select>
      </label>
      <label>
        Status:
        <div class="status-options">
          @for(option of statusOptions; track option.value) {
          <div class="checkbox-item">
            <input
              type="checkbox"
              [checked]="employerForm.value.status?.includes(option.value)"
              (change)="toggleStatus(option.value, $event.target.checked)"
            />
            <label class="checkbox-label">{{ option.label }}</label>
          </div>
          }
        </div>
      </label>
    </div>

    <footer>
      <app-primary-button
        label="Selecionar"
        (click)="applyFilters()"
        [isDisabled]="employerForm.invalid"
      ></app-primary-button>
    </footer>
  </div>
</div>
}
