@if(visible){
<div class="overlay">
  <div class="modal">
    <header>
      <h2>Filtro de Funcionários</h2>
      <button class="close" (click)="close.emit()">
        <i class="ph ph-x"></i>
      </button>
    </header>

    <div class="content" [formGroup]="employerForm">
      <label>
        Funcionário:
        <select formControlName="employerId">
          @for (emp of employees; track $index) {
            <option [value]="emp.id">
              {{ emp.name }}
            </option>
          }
        </select>
      </label>
    </div>

    <footer>
      <app-primary-button label="Selecionar" (click)="applyFilters()" [isDisabled]="employerForm.invalid"></app-primary-button>
    </footer>
  </div>
</div>
}

