@use '../../../variable.scss' as var;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  border-radius: 1.5rem;
  width: 50rem;
  padding: 2.4rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 3.2rem;
      letter-spacing: 0.03rem;
    }

    .close {
      background: transparent;
      border: none;
      font-size: 2.4rem;
      cursor: pointer;
    }
  }

  .content {
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    color: var.$primary-text-color;
    label {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: 0.03rem;

      select {
        all: unset;
        border-radius: 0.5rem;
        padding: 0.5rem 1.6rem;
        border: 1px solid var.$primary-color;
        outline: none;
      }

      .status-options {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.6rem;
        .checkbox-item {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.8rem;
          .checkbox-label {
            font-size: 1.6rem;
            font-weight: normal;
            letter-spacing: 0.03rem;
          }
        }
      }
    }
  }

  footer {
    margin-top: 2.4rem;
    display: flex;
    justify-content: flex-end;
  }
}
