<div class="sidebar">
  <div class="content">
    <div class="logo">
      <img src="logo.svg" alt="Logo do sistema" />
    </div>
    <nav class="navbar" aria-label="Main navigation">
      <ul class="navbar-list">
        <li
          class="list-item"
          routerLink="dashboard"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="ph ph-pulse"></i>
          <a class="item">Dashboard</a>
        </li>
        <li
          class="list-item"
          routerLink="employees"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="ph ph-users-three"></i>
          <a class="item">Funcionário</a>
        </li>
        <li
          class="list-item"
          routerLink="shifts"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="ph ph-clock-user"></i>
          <a class="item">Turnos</a>
        </li>
        <li
          class="list-item"
          routerLink="data-imports"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="ph ph-file-arrow-up"></i>
          <a class="item">Importações</a>
        </li>
        <li
          class="list-item"
          routerLink="workday-records"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="ph ph-clipboard-text"></i>
          <a class="item">Registro de Jornada</a>
        </li>

        <li
          class="list-item"
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="ph ph-files"></i>
          <a class="item">Relatórios</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="footer">
    <nav class="navbar-footer" aria-label="Main navigation">
      <ul class="navbar-list">
        <li class="list-item">
          <i class="ph ph-sign-out"></i>
          <a href="" class="item">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
