@use '../../variable' as var;

.sidebar {
  padding: 2rem 2.4rem 2.4rem 2.4rem ;
  border-right: 2px solid var.$secondary-color;
  height: 100vh;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .logo {
    width: 25rem;
    text-align: center;
    padding-bottom: 1.4rem;
    border-bottom: 1px solid var.$secondary-color;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .navbar {
    padding-top: 2.4rem;
    width: 100%;
  }
}
.navbar-list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
  .list-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    padding-block: 0.8rem;
    padding-inline: 1.2rem;
    cursor: pointer;

    &:hover {
      background-color: var.$secondary-color;
      border-radius: 1rem;
      .item {
        color: var.$secondary-text-color;
      }
    }
    i {
      color: var.$primary-color;
      font-size: 2.4rem;
    }
    .item {
      all: unset;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2rem;
      letter-spacing: 0.08rem;
      color: var.$primary-text-color;
    }
  }
  .list-item.active {
    background-color: var.$secondary-color;
    border-radius: 1rem;
    .item {
      color: var.$secondary-text-color;
    }
  }
}
