<div class="card">
  <!-- Header -->
  <div class="card-header">
    <div class="avatar" [style]="{ background: avatarGradient }">
      {{ employees.name[0] }}{{ employees.name.split(' ')[1][0] }}
    </div>
    <div class="info">
      <h3>{{ employees.name }}</h3>
      <p>{{ employees.department }}</p>
    </div>

    <!-- Dropdown -->
    <app-dropdown-menu
      [menuOptions]="['Editar', 'Excluir', 'Detalhes']"
      (itemSelected)="onMenuAction($event)"
    ></app-dropdown-menu>
  </div>

  <!-- Body -->
  <div class="card-body">
    <div class="body-info">
      <div class="icon">
        <i class="ph ph-at"></i>
        <p>Email:</p>
      </div>
      <p>{{ employees.email }}</p>
    </div>
    <div class="body-info">
      <div class="icon">
        <i class="ph ph-phone"></i>
        <p>Telefone:</p>
      </div>
      <p>{{ employees.phone }}</p>
    </div>
    <div class="body-info">
      <div class="icon">
        <i class="ph ph-clock-user"></i>
        <p>Turno:</p>
      </div>
      <p>{{ employees.shift.name }}</p>
    </div>
  </div>

  <!-- Footer -->
  <div class="card-footer">
    @if(employees.isActive){
      <span class="status Ativo">Ativo</span>
    }@else {
      <span class="status Inativo">Inativo</span>
    }

  </div>
</div>
