@use '../../../variable.scss' as var;

.menu {
  position: relative;
  display: inline-block;
  .dropdown-btn {
    background: none;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 2.4rem;
    color: var.$primary-text-color;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: var.$secondary-color;
      border: 1px solid var.$secondary-color;
      filter: drop-shadow(0px 2px 4px var.$secondary-color);
      box-shadow: inset 0px -8px 2px var.$secondary-color;
    }
  }
}

.dropdown {
  position: absolute;
  right: 0;
  top: 4.2rem;
  background: var.$tertiary-color;
  border: 1px solid var.$secondary-color;
  border-radius: 1rem;
  list-style: none;
  padding: 1rem;
  width: 20rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 1000;

  li {
    width: 100%;
    padding: 0.8rem 1.2rem;
    border-radius: 1rem;
    cursor: pointer;

    &:hover {
      background: var.$secondary-color;
      color: var.$secondary-text-color;
    }
  }
}
