@use 'ngx-toastr/toastr';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  color: #3D4350;
}

body{
  font-size: 1.6rem;
}

