@use '../../variable.scss' as var;

section{
  width: 100%;
  height: 100%;
  .dashboard-header{
    display: flex;
    gap: 4.7rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 4.2rem;
    .title{
      h1{
        font-size: 3.2rem;
        line-height: 4rem;
        font-weight: 700;
        margin-bottom: .4rem;
      }
      h2{
        font-size: 1.6rem;
        line-height: 2.4rem;
        letter-spacing: .03rem;
        font-weight: normal;
      }
      .dashboard-btns{
        width: 100%;
        display: flex;
        gap: 2.4rem;
        margin-top: 3.2rem;
      }
    }
    .dashboard-img{
      max-width: 61.5rem;
      max-height: 40rem;
      img{
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
  .cards{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2.4rem;
  }
}

